# When adding new environment variables, make sure to update
# expectedEnvVariables in package.json if said variables should definitely be
# defined.

### GLOBAL VARIABLES ###

# If !false, Next's bundle(s) will be analyzed and report files generated
ANALYZE=false

# This is the default NODE_ENV setting for the application. Recognized values:
#   development
#   test
#   production
#
# This can be overwritten in the cli, i.e. `NODE_ENV=production npm run
# test-ib`. Note that this is ignored with `npm run build-externals`.
NODE_ENV=development

# MongoDB connect URI
# Specify auth credentials if necessary
# MUST SPECIFY A DATABASE AT THE END! e.g. mongodb://.../your-database-here
MONGODB_URI=mongodb://127.0.0.1:27017/hscc-api-airports

# Dedicated port to be used by the MongoDB Memory Server during unit tests.
# Leave blank to choose any random port (not recommended). Note: this option is
# only used when Node is started in debug mode (i.e. v8 inspector exec args)!
MONGODB_MS_PORT=6666

# Controls which versions of the API will respond to requests. Examples (disable
# v1; disable v1 and v2; disable v3, v5, and v7):
#   DISABLED_API_VERSIONS=1
#   DISABLED_API_VERSIONS=1,2
#   DISABLED_API_VERSIONS=3,5,7
#
# Note that `DISABLED_API_VERSIONS=` (i.e. empty) means no
# versions are disabled!
DISABLED_API_VERSIONS=

# Number of days to generate flights for (over 7 and you might be looking at
# hundreds of thousands of records, so be careful!)
FLIGHTS_GENERATE_DAYS=30

# Highest airport gate latter, i.e. 3 gives us gates A through C (3 letters)
AIRPORT_NUM_OF_GATE_LETTERS=4

# Highest airport gate number, i.e. 20 gives us A1 through A20
AIRPORT_GATE_NUMBERS_PER_LETTER=20

# Chance flights will be generated between one airport and another;
# i.e. airports will sometimes not have any flights to one other specific
# airport for a given hour. A value of 75 = 75% (a 3/4ths chance).
AIRPORT_PAIR_USED_PERCENT=75

# Chance flights will be generated on any one hour; i.e. airports will sometimes
# not have any flights on a given hour. # A value of 66 = 66% (a 2/3ths chance)
# of flights generating for any one hour.
FLIGHT_HOUR_HAS_FLIGHTS_PERCENT=66

# Determines the number of items returned by paginated endpoints
RESULTS_PER_PAGE=100

# If !false, all rate limits and exponential soft banning will be ignored
IGNORE_RATE_LIMITS=false

# If !false, no one will be able to use the API
LOCKOUT_ALL_KEYS=false

# Controls what request methods are allowed. Empty means all are allowed
# (default).
#
# Example, to make API read-only:
#   DISALLOWED_METHODS=POST,PUT
DISALLOWED_METHODS=

# Every Nth request will be be cancelled and an HTTP 555 response returned. Set
# to 0 to disable
REQUESTS_PER_CONTRIVED_ERROR=10

# Maximum allowed size of a request body and Content-Length header in bytes.
# Should be a string like 1kb, 1mb, 500b
MAX_CONTENT_LENGTH_BYTES=100kb

# Optional environment variable that, if !false, instructs the app to DESTROY
# the contents of the current database and replace it with dummy data when a
# client visits the index page. This will only work when NODE_ENV=development to
# protect against accidental use.
HYDRATE_DB_ON_STARTUP=false

### EXTERNAL SCRIPT VARIABLES ###
# (optional unless using the relevant external script)

# MongoDB connect URI optionally used by all external scripts. Specify auth
# credentials if necessary. Defaults to MONGODB_URI if left empty.
# MUST SPECIFY A DATABASE AT THE END! e.g. mongodb://.../your-database-here
EXTERNAL_SCRIPTS_MONGODB_URI=

# Controls how much output external scripts should generate per run. `True` for
# more output (including sensitive information!), `false` for less.
EXTERNAL_SCRIPTS_BE_VERBOSE=false

# How often this script is going to be invoked. This doesn't determine anything
# automatically on its own, this is useful to ensure the script works no matter
# how often you decide to call it.
BAN_HAMMER_WILL_BE_CALLED_EVERY_SECONDS=60

# The maximum number of requests per BAN_HAMMER_RESOLUTION_WINDOW_SECONDS
# allowed by a single client.
BAN_HAMMER_MAX_REQUESTS_PER_WINDOW=10

# How far back into the past this script looks when checking a key or ip against
# BAN_HAMMER_MAX_REQUESTS_PER_WINDOW.
BAN_HAMMER_RESOLUTION_WINDOW_SECONDS=1

# The initial amount of time an offender is banned.
BAN_HAMMER_DEFAULT_BAN_TIME_MINUTES=15

# When an offender is banned twice in the same "period," they're banned for
# BAN_HAMMER_DEFAULT_BAN_TIME_MINUTES * BAN_HAMMER_RECIDIVISM_PUNISH_MULTIPLIER
# minutes instead of the default. This is also the length of the "period".
BAN_HAMMER_RECIDIVISM_PUNISH_MULTIPLIER=4

# The size of the request-log collection will not be allowed to exceed this
# amount. Oldest entries are deleted first.
PRUNE_LOGS_MAX_LOGS=100000

### TOOLS FRONTEND VARIABLES ###
# (optional unless using tools)

# These options are for the tools frontend, available by navigating to
# http://your-api-root-uri-here/?tools in your browser. If you're not using the
# tools frontend, feel free to leave these blank.

# The root URI used to access the API over the internet. This is the public URI
# you can type into the browser to reach your API's frontend. For development
# builds, you should use something like http://localhost:$PORT/v1. Ending / is
# optional.
API_ROOT_URI=
